// @primer/css/support/variables/layout.scss
// Fixed-width container variables
$container-width: 900px;
// Large screen / desktop (900 + (16 * 2)) <= container + gutters
$width-lg: 932px;

// @primer/css/support/variables/typography.scss
// The base body size
$body-font-size: 16px;